<div class="header">

  <div class="admin">
  <%=
   link_to_if(session["admin"] == nil || session["admin"] == false, "Login", { :controller => "admin", :action => "login" }) do
     link_to('Admin', { :controller => "admin", :action => "index"})
   end
  %>
  </div>

  <a class="logo" href="" alt="Raso Human Resources Management System"></a>

</div>

<div class="social">
      <ul>
        <li><a href="http://www.facebook.com/rasohr?fref=ts" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="youtube"></a></li>
        <li><a href="#" class="last"></a></li>
      </ul>
</div>

<div class="content">

<table>
  <tbody>
    <tr>
      
      <td class="newsletter">
        <span>Marca a tua presença inserindo o teu nome e a password</span>

        <%= form_for(@attendance, remote: true) do |f| %>

        <% if @attendance.errors.any? %>
          <div class="error_messages">
            <ul>
              <% for message in @attendance.errors.full_messages %>
                <li> 
                  <%= message %> 
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

            <%= f.text_field :name, :placeholder => "Nome" %>

            <%= f.password_field :password, :placeholder => "Password" %>

            <%= f.submit "", :class => "button_validate" %>

            <div style="clear: both" ></div>

        <% end %>

        <span id="show_password">Mostrar Password <input type="checkbox" id="show_password" onchange="document.getElementById('attendance_password').type = this.checked ? 'text' : 'password'"></span>
        

      </td>
      
      <td class="bar"></td>

      <td class="table">

        <h1>Presentes</h1>

        <table class="presence">
          <tr class="header">
            <th>Nome</th>
            <th>Hora</th>
          </tr>

          <% @attendances.each do |attendance| %>
            <% if (attendance.created_at > Date.today)%>
            <tr class="today">
            <% else %>
            <tr>
            <% end %>
              <td>
                <%=  attendance.name %>
              </td>
              <td>
                <%=  attendance.created_at.localtime.strftime('%d-%m-%Y às %H:%M:%S') %>
              </td>
            </tr>
          <% end %>
        </table>

      </td>

    </tr>
  </tbody>
</table>

</div>

<div class="separator"></div>

<div class="footer">
      Copyright © 2012 Raso. Todos os direitos reservados. Desenvolvido por Raso Team.
</div>