<div class="header">
  <a href="" alt="Raso Human Resources Management System"></a>
</div>

<div class="social">
      <ul>
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="youtube"></a></li>
        <li><a href="#" class="last"></a></li>
      </ul>
</div>

<div class="content">

<table>
  <tbody>
    <tr>
      
      <td class="newsletter">
        <span>Marca a tua presença inserindo o teu nome e a password</span>

        <%= form_for(@attendance) do |f| %>

        <% if @attendance.errors.any? %>
          <div class="error_messages">
            <ul>
              <% for message in @attendance.errors.full_messages %>
                <li> 
                  <%= message %> 
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <p>
            <%= f.text_field :name, :placeholder => "Nome" %>
          </p>
          <p>
            <%= f.text_field :password, :placeholder => "Password" %>

            <%= f.submit "", :class => "button_validate" %>
          </p>

        <% end %>

      </td>
      
      <td class="bar"></td>

      <td class="table">

        <h1>Presentes</h1>

        <table class="presence">
          <tr class="header">
            <th>Nome</th>
            <th>Hora</th>
          </tr>

          <% @attendances.each do |attendance| %>
            <% if (attendance.created_at > Date.today)%>
            <tr class="today">
            <% else %>
            <tr>
            <% end %>
              <td>
                <%=  attendance.name %>
              </td>
              <td>
                <%=  attendance.created_at.localtime.strftime('%d-%m-%Y às %H:%M:%S"') %>
              </td>
            </tr>
          <% end %>
        </table>

      </td>

    </tr>
  </tbody>
</table>

</div>

<div class="separator"></div>

<div class="footer">
      Copyright © 2012 Raso. Todos os direitos reservados. Desenvolvido por Raso Team.
</div>